@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text-main antialiased;
  -webkit-tap-highlight-color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}